#certificaciones{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.certificacion{
    width: 200px;
    height: 300px;
    margin: 20px;
}
.certificacion img{
    height: 150px;
}
.certificacion *{
    width: 100%;
}
.certificacion:hover, .certificacion:active{
    background-color: rgb(52, 52, 52);
    color: rgb(233, 233, 233);;
    transition: 0.8s;
}