#certificaciones{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.certificacion{
    width: 200px;
    height: 300px;
    margin: 20px;
}
.certificacion img{
    height: 150px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    transition: 0.5s;
}
.certificacion img:hover, .certificacion img:active {
    -webkit-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.75);
    transition: 0.5s;
}
.certificacion *{
    width: 100%;
}
