header{
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(37, 37, 37);
    -webkit-box-shadow: 0px 10px 5px 5px rgba(37,37,37,1);
    -moz-box-shadow: 0px 10px 5px 5px rgba(37,37,37,1);
    box-shadow: 0px 10px 5px 5px rgba(37,37,37,1);
}
header a {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.displayNone {
    display: none;
}
.contactoScreen {
    /* Aparición */
    display: block;
    /* Posición */
    position:absolute;
    width: 100%;
    top: 0;
    left: 0;
    /* Apariencia */
    color: rgb(233, 233, 233);
    background-color: rgb(37, 37, 37);
    transition: 1s;

}
.contactoScreen #headerContacto{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactoScreen #articleContacto{
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(52, 52, 52);
}
.contactoScreen #articleContacto p {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactoScreen #articleContacto a {
    width: 100px;
    height: 100px;
    margin: 20px;
    display: flex;
    align-items: center;
}
.contactoScreen #articleContacto img{
    width: 100%;
}