#primerArticulo{
    margin-top: 10vh;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#primerArticulo *{
    width: 100%;
    height: auto;
    text-align: center;
}
#segundoArticulo{
    min-height: 90vh;
    text-align: center;
    color: white;
    background-color: rgb(52, 52, 52);
    -webkit-box-shadow: 0px 0px 5px 10px rgba(52,52,52,1);
    -moz-box-shadow: 0px 0px 5px 10px rgba(52,52,52,1);
    box-shadow: 0px 0px 5px 10px rgba(52,52,52,1);
}
#tercerArticulo{
    min-height: 90vh;
    text-align: center;
}
#tercerArticulo *{
    width: 100%;
    height: auto;
    text-align: center;
}
#cuartoArticulo #canvas{
    overflow:hidden;
    width: 100%;
    background-color: rgb(52, 52, 52);

}